.skill_container {
  width: 90%;
  margin: 5rem auto 0;
}

.columns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap; /* ensures responsiveness */
}

.column {
  flex: 1 1 300px;
  background-color: #2c2e31; /* adjust as needed */
  padding: 1.5rem;
  border-radius: 10px;
  color: #ffffff;
  min-width: 280px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.column h2 {
  text-align: center;
  color: #29d8a1;
  margin-bottom: 1rem;
}
/* demo */
.column:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
