/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter:wght@100..900&family=Open+Sans&family=Outfit&family=Roboto:wght@500&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

:root {
  --dark-blue: #03061c;
  --light: #0dedcb;
  --slow: #0fbbc4;
  --fade: #3f9cff;
  --white: white;
  --accent: #f1f1e6;
  --gray: rgb(194, 194, 194);
  --whatsapp-green:#4dc95d;
  --mail-red:tomato;
}

.active{
  color: var(--light);
  text-shadow: 0px 0px 3px rgb(16, 243, 209);
  transform: scale(1.4);
}



html{
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: var(--white);
}

/* SCROLL BAR CSS  */


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--primary);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 2rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body {
  background-color: var(--dark-blue);
  color: white;
  
}